@font-face{
    font-family: '汉体';
    src : url('./cn/汉体.ttf');
}

@font-face{
    font-family: '华康金刚黑';
    src : url('./cn/华康金刚黑.ttf');
}

@font-face{
    font-family: '方正甲骨文';
    src : url('./cn/方正甲骨文.ttf');
}

@font-face{
    font-family: '楷体';
    src : url('./cn/楷体.ttf');
}

@font-face{
    font-family: '行书';
    src : url('./cn/行书.ttf');
}

@font-face{
    font-family: '宋体';
    src : url('./cn/宋体.ttf');
}

@font-face{
    font-family: '苏新诗央行体';
    src : url('./cn/苏新诗央行体.ttf');
}

@font-face{
    font-family: '二值圆体';
    src : url('./cn/二值圆体.ttf');
}

@font-face{
    font-family: 'Black';
    src : url('./cn/Black.ttf');
}

@font-face{
    font-family: 'IBMPlexSans';
    src : url('./en/IBMPlexSans.ttf');
}

@font-face{
    font-family: 'Arial';
    src : url('./en/Arial.ttf');
}

@font-face{
    font-family: 'PlayfairDisplay';
    src : url('./en/PlayfairDisplay.ttf');
}

@font-face{
    font-family: 'Kanit';
    src : url('./en/Kanit.ttf');
}

@font-face{
    font-family: 'NotoSerif';
    src : url('./en/NotoSerif.ttf');
}

@font-face{
    font-family: 'Mogra';
    src : url('./en/Mogra.ttf');
}

@font-face{
    font-family: 'Coiny';
    src : url('./en/Coiny.ttf');
}

@font-face{
    font-family: 'Fasthand';
    src : url('./en/Fasthand.ttf');
}

@font-face{
    font-family: 'NovaRound';
    src : url('./en/NovaRound.ttf');
}














